.consent_manager-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.consent_manager-wrapper {
    background: #fff;
    position: relative;
    font-size: 15px;
    width: 100%;
    max-width: 60em;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}
.consent_manager-wrapper-inner {
    padding: 1em;
    position: relative;
}
.consent_manager-hidden {
    display: none;
}
.consent_manager-detail {
    margin-bottom: 1em;
}
.consent_manager-headline {
    font-weight: bold;
    font-size: 1.2em;
    span {
        font-weight: normal;
    }
}
.consent_manager-show-details {
    padding: 0 0 1em 0;
    a {
        color: #999;
        text-decoration: none;
        &:hover {
            color: #444;
            text-decoration: none;
        }
    }
}
.consent_manager-save-selection,
.consent_manager-accept-all,
.consent_manager-accept-none {
    transition: 200ms ease all;
    background: #999;
    border: 1px solid #444;
    color: #fff;
    padding: .5em 2em;
    border-radius: .2em;
    font-weight: bold;
    text-align: center;
    margin: .5em 0;
    display: block;
    &:hover {
        background: #444;
        border-color: #444;
        color: #fff; 
        text-decoration: none;
    }
}
.consent_manager-sitelinks {
    a {
    display: inline-block;
    margin: .5em .5em .5em 0;
    color: #999;
    text-decoration: none;
    &:hover {
        color: #444;
        text-decoration: none;
    }
}
}
.consent_manager-save-and-close {
    color: #999;
    &:hover {
        color: #444;
    }
}

.consent_manager-close-box {
    position: absolute;
    cursor: pointer;
    right: 1em;
    top: 1em;
    display: block;
    border-radius: 50% !important;
    border: solid 2px #666;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color:#666;
    color:#fff;
    font-family: Arial;
    font-size: 18px;
    padding: 0;
    margin: 0;
    &:hover {
        border-color: #444;
        background-color: #444;
        color: #fff;
    }
}

.consent_manager-cookiegroups {
    padding: 1em 0;
}

.consent_manager-cookiegroup {
    & + .consent_manager-cookiegroup-title {
        margin-top: 1em;
    }
}
.consent_manager-cookiegroup-title {
    background-color: #d4d4d4;
    padding: 5px 10px;
}
.consent_manager-cookie {
    margin-top: .5em;
    border-left: 2px solid #999;
    padding: .5em .5em .5em 1em;
    background: #f9f9f9;
    span {
        display: block;
    }
}

.consent_manager-show-details .icon-info-circled:before {
    color: #fff;
    background-color: #666;
    content: "i";
    font-family: "Serif";
    font-weight:bold;
    display: inline-block;
    border-radius: 50% !important;
    line-height:1.0em;
    width:1.0em;
    height:1.0em;
    text-align:center;
    vertical-align:middle;
    margin-right:5px;
}

a.consent_manager-close, #consent_manager-toggle-details {
    cursor:pointer;
}

.consent_manager-cookiegroups label > span {
    cursor: pointer;
}

.consent_manager-cookiegroups label > input[type="checkbox"] {
    filter: grayscale(1);
    transform: scale(1.5);
    margin: 10px;
    cursor: pointer;
}

.consent_manager-cookiegroups label > input[type="checkbox"]:disabled {
    cursor: default;
}

@media (min-width: 35em) {
    .consent_manager-cookiegroups {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 1em;
    }
    .consent_manager-cookiegroup-checkbox {
        margin: 0 2em 0 0;
    }
    .consent_manager-show-details {
        text-align: right;
        padding: 1em 2em 1em 0;
    }
    .consent_manager-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .consent_manager-sitelinks {
        text-align: right;
        padding-right: 1.5em;
        a {
            margin: .5em 0 .5em 1em;
        }
    }
    .consent_manager-save-selection,
    .consent_manager-accept-all,
    .consent_manager-accept-none {
        display: inline-block;
        margin: 0 0 0 .5em;
    }
}

@media (min-width: 50em) {
    .consent_manager-wrapper-inner {
        padding: 2em;
    }
    .consent_manager-buttons-sitelinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    a.consent_manager-close-box {
        right: 1.5em;
        top: 1.5em;
    }
}
