.consent_manager-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.consent_manager-wrapper {
    background: #fff;
    position: relative;
    font-size: 15px;
    width: 100%;
    max-width: 60em;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}
.consent_manager-wrapper-inner {
    padding: 1em;
    position: relative;
}
.consent_manager-hidden {
    display: none;
}
.consent_manager-detail {
    margin-bottom: 1em;
}
.consent_manager-headline {
    font-weight: bold;
    font-size: 1.2em;
    span {
        font-weight: normal;
    }
}
.consent_manager-show-details {
    padding: 0 0 1em 0;
    a {
        color: green;
        text-decoration: none;
        &:hover {
            color: #004000;
            text-decoration: none;
        }
    }
}
.consent_manager-save-selection,
.consent_manager-accept-all {
    transition: 200ms ease all;
    background: green;
    border: 1px solid green;
    color: #fff;
    padding: .5em 2em;
    border-radius: .2em;
    font-weight: bold;
    text-align: center;
    margin: .5em 0;
    display: block;
    &:hover {
        background: #004000;
        border-color: #004000;
        color: #fff;
        text-decoration: none;
    }
}
.consent_manager-save-selection {
    background: none transparent;
    border: 1px solid #999;
    color: #666;
    &:hover {
        background: #666;
        border-color: #666;
        color: #fff;
    }
}
.consent_manager-sitelinks {
    a {
    display: inline-block;
    margin: .5em .5em .5em 0;
    color: #999;
    text-decoration: none;
    &:hover {
        color: #404040;
        text-decoration: none;
    }
}
}
.consent_manager-save-and-close {
    color: green;
    &:hover {
        color: #004000;
    }
}

a.consent_manager-close-box {
    position: absolute;
    right: .75em;
    top: .75em;
    display: block;
    border-radius: 50% !important;
    width: 28px;
    height: 28px;
    color: #fff;
    background-color:#999;
    text-indent:-999px;
    &:hover {
        background-color: #333;
        color: #fff;
    }
    &::before {
        content: " ";
        position: absolute;
        display: block;
        background-color: #fff;
        width: 4px;
        left: 12px;
        top: 7px;
        bottom: 7px;
        transform: rotate(45deg);
    }
    &::after {
        content: " ";
        position: absolute;
        display: block;
        background-color: #fff;
        width: 4px;
        left: 12px;
        top: 7px;
        bottom: 7px;
        transform: rotate(-45deg);
    }
}

.consent_manager-cookiegroups {
    padding: 1em 0;
}

.consent_manager-cookiegroup {
    & + .consent_manager-cookiegroup-title {
        margin-top: 1em;
    }
}
.consent_manager-cookiegroup-title {
    background-color: #d4d4d4;
    padding: 5px 10px;
}
.consent_manager-cookie {
    margin-top: .5em;
    border-left: 2px solid #999;
    padding: .5em .5em .5em 1em;
    background: #f9f9f9;
    span {
        display: block;
    }
}

.consent_manager-show-details .icon-info-circled:before {
    color: #fff;
    background-color: green;
    content: "i";
    font-family: "Serif";
    font-weight:bold;
    display: inline-block;
    border-radius: 50% !important;
    line-height:1.0em;
    width:1.0em;
    height:1.0em;
    text-align:center;
    vertical-align:middle;
    margin-right:5px;
}

a.consent_manager-close, #consent_manager-toggle-details {
    cursor:pointer;
}

.consent_manager-cookiegroup-checkbox {
    margin: 0 2em .5em 0;
}
.consent_manager-cookiegroups label {
    position: relative;
    font-weight:bold;
    font-size:1.2em;
    color:#333;
    cursor:pointer;
}
.consent_manager-cookiegroups label > input[type="checkbox"] {
    display: none;
}
.consent_manager-cookiegroups label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 20% !important;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
}

/* When we use SVG with background-image property, we should ensure that reserved URL characters are encoded (e.g. < === %3C and > === %3E) and also replace the space with '%20'. */

.consent_manager-cookiegroups label > input[type="checkbox"]:checked + *::before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20version='1.1'%20height='20'%20width='20'%3E%3Cpath%20fill='none'%20stroke='black'%20stroke-opacity='0.8'%20stroke-width='3'%20d='M1.73%2012.91l6.37%206.37L22.79%204.59'%20/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: -1px -4px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.consent_manager-cookiegroups label > input[type="checkbox"]:disabled + *::before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20version='1.1'%20height='20'%20width='20'%3E%3Cpath%20fill='none'%20stroke='gray'%20stroke-opacity='1.0'%20stroke-width='3'%20d='M1.73%2012.91l6.37%206.37L22.79%204.59'%20/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0px -4px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.consent_manager-cookiegroups label > input[type="checkbox"]:checked + * {
    color: #000;
}
.consent_manager-cookiegroups label > input[type="checkbox"]:disabled + * {
    color: #999;
    cursor: default;
}

@media (min-width: 35em) {
    .consent_manager-cookiegroups {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 2em;
    }
    .consent_manager-cookiegroup-checkbox {
        margin: 0 2em 0 0;
    }
    .consent_manager-show-details {
        text-align: right;
        padding: 1em 2em 2em 0;
    }
    .consent_manager-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .consent_manager-sitelinks {
        text-align: right;
        padding-right: 1.5em;
        a {
            margin: .5em 0 .5em 1em;
        }
    }
    .consent_manager-save-selection,
    .consent_manager-accept-all {
        display: inline-block;
        margin: 0 0 0 .5em;
    }
}

@media (min-width: 50em) {
    .consent_manager-wrapper-inner {
        padding: 2em;
    }
    .consent_manager-buttons-sitelinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    a.consent_manager-close-box {
        right: 1.5em;
        top: 1.5em;
    }
}
