/*
Theme: {"name": "Standard-Theme „Light Bottom-Right“", "description": "Theme „Light Bottom-Right“ mit hellem Hintergrund, Outline-Buttons, prefers-contrast Support", "type": "light", "style": "Popup unten rechts, Checkboxen", "autor": "@IngoWinter, @aeberhard"}
*/

$font-family: Verdana, Geneva, sans-serif;
$font-size: 14px;

$overlay-background: rgba(0, 0, 0, .4);

$consent_manager-background: #fefefe;

$title-color: #666;
$text-color: #444;

$close-background: #666;
$close-color: #eee;
$close-hover-background: darken($close-background, 10);
$close-hover-color: lighten($close-color, 10);

$checkbox-color: #111;

$button-border-color: #666;
$button-background: transparent;
$button-color: #444;
$button-hover-background: #666;
$button-hover-color: #fff;

$link-color: #666;
$link-hover-color: darken($link-color, 20);

$cookie-title-color: $title-color;
$cookie-title-background: #d4d4d4;
$cookie-desc-background: #f9f9f9;

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bottomRightIn {
    from {
        opacity: 0;
        transform: translate(+100%, +100%);
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

/* Overlay */

div.consent_manager-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $overlay-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: fadeIn .2s;
    outline: 0;
}

/* Wrapper */

div.consent_manager-wrapper {
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.5em;
    background: $consent_manager-background;
    border: 1px solid darken($consent_manager-background, 20);
    border-radius: 5px;
    color: $text-color;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 640px;
    max-height: 85vh;
    overflow-y: auto;
    box-sizing: border-box;
    animation: bottomRightIn .4s;
}

div.consent_manager-wrapper-inner {
    padding: 2em;
    position: relative;
}

div.consent_manager-hidden {
    display: none;
}

/* Script-Container */

div.consent_manager-script {
    display: none;
}

/* Close-Button */

.consent_manager-close-box {
    position: absolute;
    cursor: pointer;
    right: 1.5em;
    top: 1em;
    display: block;
    border-radius: 5px;
    border: solid 1px $close-background;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: $close-background;
    color: $close-color;
    font-family: Arial;
    font-size: 18px;
    padding: 0;
    margin: 0;
    opacity: .5;
    transition: .3s ease all;

    &:hover {
        border-color: $close-hover-background;
        background-color: $close-hover-background;
        color: $close-hover-color;
        opacity: 1;
    }
}

/* Headline */

div.consent_manager-wrapper .consent_manager-headline {
    margin: 0 0 1em 0;
    font-weight: bold;
    font-size: $font-size +4px;
    color: $title-color;
}

/* Text-Block */

div.consent_manager-wrapper p.consent_manager-text {
    margin: 0 0 1.5em 0;
}

/* Cookie Checkboxen */

div.consent_manager-cookiegroups {
    margin: 0 0 1.5em 0;
}

div.consent_manager-cookiegroup-checkbox {
    margin-bottom: 1.5em;
}

div.consent_manager-cookiegroups label {
    position: relative;
    font-weight: bold;
    font-size: $font-size +1px;
    color: $checkbox-color;
    cursor: pointer;
}

div.consent_manager-cookiegroups label>span {
    cursor: pointer;
}

div.consent_manager-cookiegroups label>input[type="checkbox"] {
    filter: grayscale(1);
    filter: hue-rotate(275deg);
    transform: scale(1.6);
    margin: 0 .7em 0 .2em;
    cursor: pointer;
}

.consent_manager-wrapper input[type="checkbox"]:disabled,
.consent_manager-cookiegroups label>input[type="checkbox"]:disabled+* {
    opacity: .7;
    cursor: default;
}

/* Detail-Link Toggle */

div.consent_manager-show-details {
    padding: 0 0 1.5em 0;

    .icon-info-circled {
        display: inline-block;
        line-height: 1.2em;
        height: 1.4em;
        cursor: pointer;
        color: $link-color;
        border: none;
        background-color: transparent;

        &:hover {
            color: $link-hover-color;
        }
    }
}

div.consent_manager-show-details a.icon-info-circled:before {
    color: $consent_manager-background;
    background-color: $link-color;
    opacity: .7;
    content: "i";
    font-family: "Serif";
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-right: 7px;
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
}

/* Buttons */

button.consent_manager-save-selection,
button.consent_manager-accept-all,
button.consent_manager-accept-none {
    transition: .3s ease all;
    background: $button-background;
    border: 1px solid $button-border-color;
    color: $button-color;
    padding: .5em 2em;
    border-radius: 5px;
    font-size: $font-size;
    font-weight: bold;
    text-align: center;
    display: block;
    min-height: 3em;
    width: 100%;
    margin-bottom: 1.0em;
    cursor: pointer;

    &:hover {
        background: $button-hover-background;
        border-color: $button-hover-background;
        color: $button-hover-color;
        text-decoration: none;
    }
    
    &:focus {
        outline: 2px solid $button-border-color;
        outline-offset: 2px;
    }
}

/* Seitenlinks - Datenschutz + Impressum */

div.consent_manager-sitelinks {
    margin: 1.5em 0 0 0;

    a {
        display: inline-block;
        margin: .4em 1em .4em 0;
        color: $link-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $link-hover-color;
            text-decoration: none;
        }
    }
}

/* Detail Block */

div.consent_manager-wrapper div.consent_manager-detail {
    margin-bottom: 3em;
}

div.consent_manager-wrapper div.consent_manager-detail a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}

div.consent_manager-wrapper div.consent_manager-detail div.consent_manager-cookiegroup-title {
    color: $cookie-title-color;
    background-color: $cookie-title-background;
    padding: 5px 11px;
    margin: 1.5em 0 0 0;
}

div.consent_manager-wrapper div.consent_manager-cookiegroup-description {
    border-left: 1px solid $cookie-title-background;
    padding: 5px 10px;
    background: $cookie-desc-background;
}

div.consent_manager-wrapper div.consent_manager-cookie {
    margin-top: 3px;
    border-left: 1px solid $cookie-title-background;
    padding: 5px 10px;
    background: $cookie-desc-background;

    span {
        display: block;
        margin-top: .5em;
    }
}

/* Breakpoints */

@media only screen and (min-width: 600px) {
    div.consent_manager-cookiegroups {
        padding: 1em 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 0;
    }

    div.consent_manager-cookiegroup-checkbox {
        margin-left: 1.5em;
        margin-bottom: 1.0em;
    }

    div.consent_manager-show-details {
        text-align: right;
        padding: 1.5em 0 1.5em 0;
    }

    div.consent_manager-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button.consent_manager-save-selection,
    button.consent_manager-accept-all,
    button.consent_manager-accept-none {
        display: inline-block;
        margin: 0 0 0 .5em;
        width: auto;
    }

    div.consent_manager-sitelinks {
        margin: 0 0 0 0;
    }

    div.consent_manager-buttons-sitelinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
}

/* ========================================
   Accessibility - Reduced Motion
   ======================================== */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

/* ========================================
   Accessibility - High Contrast
   ======================================== */

@media (prefers-contrast: more), (prefers-contrast: high) {
    div.consent_manager-wrapper {
        background: #ffffff !important;
        border: 3px solid #000000 !important;
        box-shadow: none !important;
    }

    div.consent_manager-wrapper .consent_manager-headline,
    div.consent_manager-wrapper p.consent_manager-text,
    div.consent_manager-cookiegroups label {
        color: #000000 !important;
    }

    button.consent_manager-accept-all,
    button.consent_manager-save-selection,
    button.consent_manager-accept-none {
        background: #ffffff !important;
        border: 3px solid #000000 !important;
        color: #000000 !important;
    }

    button.consent_manager-accept-all:hover,
    button.consent_manager-save-selection:hover,
    button.consent_manager-accept-none:hover {
        background: #000000 !important;
        color: #ffffff !important;
    }

    .consent_manager-close-box {
        background: #000000 !important;
        border-color: #000000 !important;
        color: #ffffff !important;
        opacity: 1 !important;
    }

    *:focus {
        outline: 3px solid #000000 !important;
        outline-offset: 2px !important;
    }

    div.consent_manager-sitelinks a,
    div.consent_manager-show-details .icon-info-circled {
        color: #000000 !important;
        text-decoration: underline !important;
    }
}
