.iwcc-rex-form-info {
    margin: -15px -15px 15px -15px;
    padding: 5px 15px;
    background: #f09000;
    color: #fff;
    i {
        margin-right: .5em;
    }
}
.iwcc-fake {
    label {
        cursor: default;
    }
    opacity: .6;
}