parameters:
    level: 5
    paths:
        - ../lib
        - ../pages
        - ../fragments
        - ../boot.php
        - ../install.php
        - ../uninstall.php
        - ../update.php
    excludePaths:
        - ../vendor
        - vendor
    
    # REDAXO-spezifische Einstellungen
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    
    ignoreErrors:
        # REDAXO Klassen sind zur Analyse-Zeit nicht verfügbar
        - '#Class rex[a-zA-Z_\\\\]* not found#'
        - '#unknown class rex[a-zA-Z_\\\\]*#'
        - '#invalid type rex[a-zA-Z_\\\\]*#'
        
        # Statische Methoden auf REDAXO Klassen
        - '#Call to static method .* on an unknown class rex[a-zA-Z_\\\\]*#'
        - '#Call to method .* on an unknown class rex[a-zA-Z_\\\\]*#'
        
        # Parameter mit REDAXO Typen
        - '#has invalid type rex[a-zA-Z_\\\\]*#'
        - '#type rex[a-zA-Z_\\\\]* not found#'
        
        # Dynamische Methoden in REDAXO
        - '#Call to an undefined method rex[a-zA-Z_\\\\]*::[a-zA-Z_]+\(\)#'
        
        # Fragment Variablen
        - '#Variable \$this might not be defined#'
        - '#Undefined variable: \$this#'
        
        # Unreachable code nach rex_response::sendJson() etc.
        - '#Unreachable statement#'
