:root {
    --consent-backend-warning: #f09000;
    --consent-backend-text: #fff;
}

.consent_manager-rex-form-info {
    margin: -15px -15px 15px -15px;
    padding: 5px 15px;
    background: var(--consent-backend-warning);
    color: var(--consent-backend-text);
}

.consent_manager-rex-form-info i {
    margin-right: .5em;
}

.consent_manager-fake {
    opacity: 0.6;
}

.consent_manager-fake label {
    cursor: default;
}

ul.navbar-nav li.active {
    font-weight: bold;
}

legend > span {
    font-size: .7em;
    font-weight: normal;
}
